<form id="register-form" method="POST" action="/api/users/register">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
<a href="/login">Login</a>